
/**************************************/
/*      ABA 2 - Quem sou EU?*/
/**************************************/

.section-quemsoueu {
    min-height: 80vh;
    height: 80vh;
    width: 100%;
    background-color:  #0a0901;         
    box-shadow: inset 0 0 18px #f2d600;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}


.quemsoueu-texto {
    max-width: 60%;
    position: relative;
    color: #f9f4d0; 
    font-size: 24px;
    line-height: 1.6;
    text-align: justify;
    text-align-last: left;
    padding: 24px;
    background: #1c1c1e;
    border-radius: 8px;
    z-index: 0;
    animation: fade-in 1.2s ease forwards;
    opacity: 1;
    transition: all 0.5s ease;
}

.quemsoueu-texto::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -6px;
    background: linear-gradient(
        45deg,
        #fff200,  /* amarelo puro */
        #e6b800, 
        #f2d600,  /* dourado */
        #d58a00,  /* laranja queimado */
        #c55200,  /* laranja escuro */
        #a72800,  /* vermelho queimado */
        #ff4500,  /* laranja vivo */
        #ff0000,  /* vermelho base */
        #f2d600,  /* dourado dnv*/
        #fff200   /* amarelo puro dnv (reiniciar o ciclo)*/
    );
    background-size: 1500% 1500%;
    border-radius: 10px;
    filter: blur(12px);
    opacity: 0.22;
    animation: backgroundFlow 12s ease-in-out infinite;
}


@keyframes backgroundFlow {
  0% {
    background-position: 0% 50%;
    opacity: 0.22;
  }
  30% {
    opacity: 0.35;
  }
  50% {
    background-position: 100% 50%;
    opacity: 0.5;
  }
  70% {
    opacity: 0.35;
  }
  100% {
    background-position: 0% 50%;
    opacity: 0.22;
  }
}



.quemsoueu-texto h2 {
    font-size: 38px;
    color: #ffe066;
    font-weight: 600;
    text-shadow: 2px 2px 8px #000;
    margin-bottom: 16px;
}




@media (max-width: 1080px) {
  .section-quemsoueu {
        flex-direction: column;
        padding: 20px 10px;
        min-height: auto;
        height: 90vh;
    }
}


@media (max-width: 768px) {
    .section-quemsoueu {
        flex-direction: column;
        padding: 20px 10px;
        min-height: auto;
        height: 80vh;
    }

    .quemsoueu-texto {
        max-width: 80%;
        font-size: 18px;
        padding: 16px;
    }

    .quemsoueu-texto h2 {
        font-size: 28px;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .quemsoueu-texto {
        font-size: 19px;
        padding: 12px;
        width: 97vw;
        padding: 14px
    }
     .quemsoueu-texto::after {
        width: 100%;
        left: 0;
     }

     .section-quemsoueu{
        height: 70vh;
     }

    .quemsoueu-texto h2 {
        font-size: 24px;
    }
}

@media (min-height: 900px) {
     .section-quemsoueu{
        height: 550px;
     }
}
@media (max-width: 1800px) {
    .section-quemsoueu{
      height: 550px;
    }
}
