
/* Populares */
.populares .jogos {
  background: linear-gradient(180deg, #0a1a3a, #1e3a8a);
  padding: 2rem 1rem;
  min-height: 60vh;
}

:is(.populares, .jogos) h2 {
  font-size: 3.8rem;
  color: #ffffff;
  padding: 10px 20px;
  text-shadow: 0 0 6px #00ffdd;
  position: relative;
  display: flex;
  align-items: center;
}

:is(.populares, .jogos) h2 img {
  height: 50px;
  margin-right: 10px;
  filter: drop-shadow(0 0 8px #000000);
}
:is(.populares, .jogos) h2{
  width: max-content;
}

:is(.populares, .jogos) h2::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 20px;
  background: linear-gradient(to right, #00ffdd, #0a1a3a);
  width: 100%;
  height: 4px;
  border-radius: 10px;
}